body{
    margin: 0;
    padding: 0;        
}

img {
    width: 80%;
    height: 600px;
}
.vermelho{
    color: #ff0033;
}

.centro{
    text-align: center;
}

h1,h2{
    font-family: 'Lobster', cursive;
}
